.navbar {
  background-color: blueviolet;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h1 {
  margin-right: auto;
  color: white;
}

.navbar ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin-right: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}
.navbar .start {
  margin-right: auto;
}
/* Media queries para diseño responsivo */
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .navbar ul {
    flex-direction: column;
  }

  .navbar li {
    margin-right: 0;
    margin-bottom: 10px;
  }
}