.navbar {
    background-color: blueviolet;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .logo h1 {
    color: white;
    font-size: 50px;
    font-weight: bold;
    margin: 0;
    text-align: center;
  }
  


  .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    margin-right: 10px;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
  }
  
  /* Estilos para hacer la barra de navegación responsive */
  @media screen and (max-width: 768px) {
    .navbar {
      flex-direction: column;
    }
  
    .logo {
      margin-bottom: 10px;
    }
  
    .nav-links {
      flex-direction: column;
    }
  
    .nav-links li {
      margin-right: 0;
      margin-bottom: 5px;
    }
  }